.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 3px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*customized */



.home-list-Img{
  width:15%;
}
.battle-list-Img{
  width:50%;
}
.dropdown-Img{
  width:10%;
}

#selected-order{
    border: 2px solid #a1a1a1;
    background: #dddddd;
    border-radius: 80px;
    width:100px;
}

div.menu-header{
  border-radius: 5px;
  background-color: #f2f2f2;
  height:160px;
  padding-left:30px;
  padding-right:30px;
  padding-top:8px;
  padding-bottom: 8px;
}

div.selected{
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  cursor:pointer;
}

div.loaded{
  border: 2px solid #80e5ff;
  border-radius: 10px;
  cursor:pointer;
}

div.defender-frame{
  border: 2px solid #4dd2ff;
  border-radius: 10px;
}

div.attacker-frame{
  border: 2px solid #ff5c33;
  border-radius: 10px;
}

div.info-panel{
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
}

div.flex{
  display: flex;
  flex-wrap: wrap;
  margin:7px;
}
div.search-panel-big{
  display: flex;
  flex-wrap: wrap;
}
.poke-list-big{
    font-size: 15px;
}

div.search-panel-s{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  margin-bottom: 3px;
}
.poke-list-s{
    font-size: 15px;
}

.panel-scroll-homepage{
  overflow-y:scroll;
  height: 450px;
  float:left;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.panel-scroll{
  overflow-y:scroll;
  overflow-x:hidden;
  height: 600px;
  float:left;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.frame{
  /*margin-top: -170px;
  padding-top: 170px; */
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
  /*position:absolute;*/
}

button.btn-5{
  background-color:#33ff33;
}

button.btn-4{
  background-color:#66ff33;
}

button.btn-3-5{
  background-color:#99ff33;
}

button.btn-3{
  background-color:#ccff33;
}

button.btn-2-5{
  background-color:#ffff33;
}

button.btn-2{
  background-color:#ffcc33;
}

button.btn-1-5{
  background-color:#ff9933;
}

button.btn-1{
  background-color:#ff6633;
}

button.btn-0-5{
  background-color:#ff3333;
}

button.btn-ok-hide{
  visibility: hidden;
}

button.btn-ok{
  visibility: visible;
}

.clickable{
  cursor:pointer;
}

@import "compass/css3";

.chart{
  display:table;
  table-layout: fixed;

  width:60%;
  max-width:700px;

  margin:0 auto;
    height:200px;

  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
/*  background-size: 100% 50px; */
  background-position: left top;

}
.chart ul{
  padding:0;
}

.chart li{
  position:relative;
  display:table-cell;
  vertical-align:bottom;
  height:200px;
}

.chart span.defender{
  margin:0 1em;
  display: inline-block;
  background: rgba(77, 210, 255,0.75);
  animation: draw 1s ease-in-out;
  width:30px;

  &:before{
    position:absolute;
    left:0;right:0;top:100%;
    padding:5px 1em 0;
    display:inline-block;
    text-align:center;
    content:attr(title);
    word-wrap: break-word;
  }
}

.chart span.attacker{
  margin:0 1em;
  display: inline-block;
  background: rgba(255, 92, 51, 0.75);
  animation: draw 1s ease-in-out;
  width:30px;

  &:before{
    position:absolute;
    left:0;right:0;top:100%;
    padding:5px 1em 0;
    display:inline-block;
    text-align:center;
    content:attr(title);
    word-wrap: break-word;
  }
}

@keyframes draw{
  0%{height:0;}
}
